<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Посты Блога на блокчейн</title>
    <meta name="description" content="Блог на блокчейне golos.io"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body id="top">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><a href="https://golos.rubtc.info/new" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp"><i class="material-icons">mail</i></a>
      <header class="mdl-layout__header mdl-layout__header--waterfall site-header">
        <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
            <div class="site-logo"></div><span class="site-description">Блог @VIK на блокчейн</span></span></div>
        <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
          <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" href="index.html">Главная</a><a class="mdl-navigation__link" href="portfolio.html">Блог</a><a class="mdl-navigation__link" href="#">О нас</a><a class="mdl-navigation__link" href="https://golos.rubtc.info/new">Написать</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font"><a class="mdl-navigation__link" href="index.html">Home</a><a class="mdl-navigation__link" href="portfolio.html">Portfolio</a><a class="mdl-navigation__link" href="#">About</a><a class="mdl-navigation__link" href="https://golos.rubtc.info/new">Contact</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="site-content">
          <div id="blogposts" class="container"><div class="mdl-grid site-max-width">
    <div v-for="post in posts" class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
        <div class="mdl-card__media">
             <img v-if="post.hasimg" class="article-image" :src="post.img" :alt="post.title" border="0">
        </div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ post.author }}: {{ post.title }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <div class="post-tags">{{ post.tags }}</div>
        </div><br>        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" :href="post.link">
           Читать в голосе
          </a>
        </div>
    </div>
    
</div></div>
        </div>
        <footer class="mdl-mini-footer">
          <div class="footer-container">
            <div class="mdl-logo">&copy; @vik</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Privacy & Terms</a></li>
            </ul>
          </div>
        </footer>
      </main>
	  <script src="https://golos.rubtc.info/g.js"></script>
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
	  <script>
	  var posts=[],hasimg;

steem.api.getBlog('vik', 0, 100, function(err, result) {

var i;
for (i = 0; i < result.length; i++) {
     var z = result[i].comment,
	 m = JSON.parse(z.json_metadata),
	 //tags = m.tags[0],
	 
	 thumb;
	 
	//var tag = '';
    //for (var t = 0; t < m.tags.length; t++) {tag += '#'+m.tags[t]+' '}
	 
	 if (typeof m.image !== "undefined"){thumb = m.image[0],hasimg=true}else{hasimg=false}
	 
	 posts.push({
	  author: z.author,
	   title: z.title,
	   //tags: tag,
	   hasimg: hasimg,
	   img: thumb,
	   link:'https://golos.io/blog/@vik/'+z.permlink
	 })
	
	 
   }
   
});	
var blog = new Vue({
  el: '#blogposts',
  data: {
    posts: posts
  }
});
	  </script>
    </div>
  </body>
</html>
